<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Man1_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{207,1273},{188,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Man1_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{1,1463},{188,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Man1_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{210,1463},{188,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Man2_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{1,529},{182,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Man2_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{208,529},{182,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Man2_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{1,713},{182,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Man3_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{208,713},{184,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Man3_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{1,899},{184,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Man3_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{210,899},{184,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman1_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1,1085},{186,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman1_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{207,1085},{186,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman1_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1,1273},{186,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman2_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman2_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{209,1},{174,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman2_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{1,177},{174,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman3_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{209,177},{174,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman3_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{1,353},{174,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Woman3_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{208,353},{174,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Characters.png</string>
            <key>size</key>
            <string>{418,1652}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:113146b78bc901addf309d320378ca2f:d57ad631b0f9ab931226aa37c90ae81c:6e7b043b5b2e81e18e06ffb4ec9b6636$</string>
            <key>textureFileName</key>
            <string>Characters.png</string>
        </dict>
    </dict>
</plist>
