<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Man1_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1273,1},{184,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Man1_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1459,1},{184,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Man1_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1459,203},{184,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Man2_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{539,209},{182,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Man2_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{549,1},{182,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Man2_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{723,208},{182,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Man3_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{1,1},{184,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Man3_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{1,210},{184,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Man3_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,207}</string>
                <key>spriteSourceSize</key>
                <string>{200,207}</string>
                <key>textureRect</key>
                <string>{{187,1},{184,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman1_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1083,208},{186,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman1_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1085,1},{186,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman1_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1271,207},{186,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman2_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{187,210},{174,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman2_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{363,210},{174,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman2_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,206}</string>
                <key>spriteSourceSize</key>
                <string>{200,206}</string>
                <key>textureRect</key>
                <string>{{373,1},{174,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman3_200_Tran.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{733,1},{174,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman3_200_Tran_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{907,208},{174,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Woman3_200_Tran_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,205}</string>
                <key>spriteSourceSize</key>
                <string>{200,205}</string>
                <key>textureRect</key>
                <string>{{909,1},{174,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Characters.png</string>
            <key>size</key>
            <string>{1644,418}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa61a5f880d609b3fc62a2a5efac9754:7fbba36ffbfe257cab07b5cc1f04fdd7:6e7b043b5b2e81e18e06ffb4ec9b6636$</string>
            <key>textureFileName</key>
            <string>Characters.png</string>
        </dict>
    </dict>
</plist>
