<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AdminBG_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,231}</string>
                <key>spriteSourceSize</key>
                <string>{497,241}</string>
                <key>textureRect</key>
                <string>{{1764,1},{491,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bank_Panel_420_SquareCorner.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,414}</string>
                <key>spriteSourceSize</key>
                <string>{600,420}</string>
                <key>textureRect</key>
                <string>{{1,1010},{592,414}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_Black.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,40}</string>
                <key>spriteSourceSize</key>
                <string>{85,40}</string>
                <key>textureRect</key>
                <string>{{1764,681},{83,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_Black_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1764,723},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_Blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{1135,1269},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_Blue_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1764,765},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_Brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{1764,567},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_Brown_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{1866,494},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_Brown_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{1237,1269},{100,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_Brown_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1764,807},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Border_White_Square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1764,849},{50,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Brown_Panel_600x500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,486}</string>
                <key>spriteSourceSize</key>
                <string>{600,500}</string>
                <key>textureRect</key>
                <string>{{1399,908},{598,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{1764,609},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button100_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{1866,536},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button100_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,40}</string>
                <key>textureRect</key>
                <string>{{1764,645},{98,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueDisable50_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1347,1347},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueLit50_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1347,1379},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueNormal50_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1852,723},{50,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Checkbox_Active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1339,1269},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Checkbox_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1197,1363},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Checkbox_Normal_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1849,681},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Checkbox_Normal_Press.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1852,825},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseButton_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1852,867},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseButton_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1884,723},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CloseButton_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1852,867},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreditCardBank_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,71}</string>
                <key>spriteSourceSize</key>
                <string>{100,71}</string>
                <key>textureRect</key>
                <string>{{1764,494},{100,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GameSceneCityView_Main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1761,905}</string>
                <key>spriteSourceSize</key>
                <string>{1761,905}</string>
                <key>textureRect</key>
                <string>{{1,1},{1761,905}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InGamePanel_Black_80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{1396,100}</string>
                <key>spriteSourceSize</key>
                <string>{1400,100}</string>
                <key>textureRect</key>
                <string>{{1,908},{1396,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LongPanelBlack80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,80}</string>
                <key>spriteSourceSize</key>
                <string>{600,80}</string>
                <key>textureRect</key>
                <string>{{595,1321},{600,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PanelBG_SquareLineBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{538,309}</string>
                <key>spriteSourceSize</key>
                <string>{550,323}</string>
                <key>textureRect</key>
                <string>{{595,1010},{538,309}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonCorner40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1884,763},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonCorner40Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1894,803},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonCorner40Left_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1894,843},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonCorner40Left_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1864,609},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonCorner40_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1904,608},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonCorner40_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1944,608},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonLess50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1866,572},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonLess50_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1918,572},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonLess50_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1233,1311},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonLess50_PointLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1816,723},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonLess50_PointLeft_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1816,775},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonLess50_PointLeft_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1816,827},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonMore50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1285,1311},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonMore50_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1337,1311},{50,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonMore50_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,34}</string>
                <key>spriteSourceSize</key>
                <string>{50,40}</string>
                <key>textureRect</key>
                <string>{{1311,1347},{50,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UIButtonMore50_PointRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1197,1311},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonMore50_PointRight_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1239,1347},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIButtonMore50_PointRight_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1275,1347},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WhiteBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1864,649},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WhiteBox50_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{1852,775},{48,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WidgetBG_Brown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,257}</string>
                <key>spriteSourceSize</key>
                <string>{250,257}</string>
                <key>textureRect</key>
                <string>{{1135,1010},{250,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1891,681},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1927,648},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>X_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,36}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1963,648},{34,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameScene.png</string>
            <key>size</key>
            <string>{1998,1425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:672d8037c17765b3aef614ab75b8b901:210c33d14bb6450aec27ec2493691488:865db70d33f6fd1c3bd18ff13c48b0ed$</string>
            <key>textureFileName</key>
            <string>GameScene.png</string>
        </dict>
    </dict>
</plist>
