<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Brown_Panel_400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{592,394}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1,959},{592,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1283,886},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueLit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1,1545},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1,1593},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Blue_20_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{103,1545},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Green_20_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1,1641},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Purple_20_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{103,1593},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Red_50_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1187,1253},{98,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Button_Red_50_Alpha_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1235,1253},{98,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Button_Red_50_Alpha_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1283,1253},{98,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Button_Yellow_20_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{205,1545},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FruitStand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,1355},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FruitStand_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{295,1355},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FruitStand_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1187,959},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Handicrafts.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{595,1353},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Handicrafts_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{589,1543},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Handicrafts_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{883,1543},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HotdogStand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{290,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{889,1353},{290,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HotdogStand_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{290,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1177,1543},{290,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HotdogStand_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{290,188}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{1181,1353},{290,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icecream.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,189}</string>
                <key>spriteSourceSize</key>
                <string>{293,189}</string>
                <key>textureRect</key>
                <string>{{1283,1},{293,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icecream_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,189}</string>
                <key>spriteSourceSize</key>
                <string>{293,189}</string>
                <key>textureRect</key>
                <string>{{1283,296},{293,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Icecream_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,189}</string>
                <key>spriteSourceSize</key>
                <string>{293,189}</string>
                <key>textureRect</key>
                <string>{{1283,591},{293,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainMenuBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,956}</string>
                <key>spriteSourceSize</key>
                <string>{1280,956}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,956}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIPanelRecBlack80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,590}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{595,959},{392,590}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>UIToggleButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1331,1253},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIToggleButton_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1385,886},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIToggleButton_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1,1689},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{1473,1732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60a6bf91aa92b720094d3135e5e9c1f5:162225f6137ee559c397a12c2e712f34:31bea43e736bbf933266798eeb07ad7a$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
