<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ButtonBlueDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1283,593},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueLit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1385,593},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1487,593},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CityTopDownViewWithLayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,1120}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1120}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,1120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIPanelRecBlack80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,590}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1283,1},{392,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{1676,1122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1716dccdb4b3f707727884df148f48b:3fc6f5dd553b192704b1d04005a68634:31bea43e736bbf933266798eeb07ad7a$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
