<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Border_Red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,46}</string>
                <key>spriteSourceSize</key>
                <string>{200,46}</string>
                <key>textureRect</key>
                <string>{{1283,593},{200,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueDisabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1485,593},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ButtonBlueLit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1587,593},{100,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ButtonBlueNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1283,641},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Blue_20_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1385,641},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Green_20_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1283,689},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Purple_20_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1385,689},{100,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Red_50_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1487,641},{98,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Red_50_Alpha_Disabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1487,689},{98,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Red_50_Alpha_Selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1283,737},{98,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Button_Yellow_20_Alpha.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,46}</string>
                <key>spriteSourceSize</key>
                <string>{100,46}</string>
                <key>textureRect</key>
                <string>{{1587,695},{100,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CityTopDownViewWithLayer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,1120}</string>
                <key>spriteSourceSize</key>
                <string>{1280,1120}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,1120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>UIPanelRecBlack80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,590}</string>
                <key>spriteSourceSize</key>
                <string>{400,600}</string>
                <key>textureRect</key>
                <string>{{1283,1},{392,590}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MainMenu.png</string>
            <key>size</key>
            <string>{1676,1122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:552361630ee049a7a6a104cd5ae39c84:5253dfbac83274c87515f0686b81d66e:31bea43e736bbf933266798eeb07ad7a$</string>
            <key>textureFileName</key>
            <string>MainMenu.png</string>
        </dict>
    </dict>
</plist>
