<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boy1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,320}</string>
                <key>spriteSourceSize</key>
                <string>{189,320}</string>
                <key>textureRect</key>
                <string>{{1,723},{189,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boy2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,346}</string>
                <key>spriteSourceSize</key>
                <string>{249,346}</string>
                <key>textureRect</key>
                <string>{{360,161},{249,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boy3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,317}</string>
                <key>spriteSourceSize</key>
                <string>{188,317}</string>
                <key>textureRect</key>
                <string>{{654,763},{188,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FastBoy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,338}</string>
                <key>spriteSourceSize</key>
                <string>{144,338}</string>
                <key>textureRect</key>
                <string>{{345,412},{144,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FastBoy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,342}</string>
                <key>spriteSourceSize</key>
                <string>{173,342}</string>
                <key>textureRect</key>
                <string>{{1,370},{173,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FastBoy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,291}</string>
                <key>spriteSourceSize</key>
                <string>{265,291}</string>
                <key>textureRect</key>
                <string>{{197,1060},{265,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FastGirl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,323}</string>
                <key>spriteSourceSize</key>
                <string>{201,323}</string>
                <key>textureRect</key>
                <string>{{656,560},{201,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FastGirl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,346}</string>
                <key>spriteSourceSize</key>
                <string>{205,346}</string>
                <key>textureRect</key>
                <string>{{1,163},{205,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FastGirl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,326}</string>
                <key>spriteSourceSize</key>
                <string>{176,326}</string>
                <key>textureRect</key>
                <string>{{1,545},{176,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Girl1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,245}</string>
                <key>spriteSourceSize</key>
                <string>{102,245}</string>
                <key>textureRect</key>
                <string>{{738,1148},{102,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Girl2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,301}</string>
                <key>spriteSourceSize</key>
                <string>{144,301}</string>
                <key>textureRect</key>
                <string>{{1,914},{144,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Girl3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,300}</string>
                <key>spriteSourceSize</key>
                <string>{193,300}</string>
                <key>textureRect</key>
                <string>{{688,953},{193,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceBoy1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,349}</string>
                <key>spriteSourceSize</key>
                <string>{158,349}</string>
                <key>textureRect</key>
                <string>{{360,1},{158,349}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceBoy2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,357}</string>
                <key>spriteSourceSize</key>
                <string>{160,357}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceBoy3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,312}</string>
                <key>spriteSourceSize</key>
                <string>{142,312}</string>
                <key>textureRect</key>
                <string>{{323,787},{142,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceGirl1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,325}</string>
                <key>spriteSourceSize</key>
                <string>{116,325}</string>
                <key>textureRect</key>
                <string>{{329,558},{116,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceGirl2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,305}</string>
                <key>spriteSourceSize</key>
                <string>{94,305}</string>
                <key>textureRect</key>
                <string>{{685,464},{94,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceGirl3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,323}</string>
                <key>spriteSourceSize</key>
                <string>{109,323}</string>
                <key>textureRect</key>
                <string>{{329,676},{109,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceShopBoy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,206}</string>
                <key>spriteSourceSize</key>
                <string>{103,206}</string>
                <key>textureRect</key>
                <string>{{519,931},{103,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceShopBoy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,213}</string>
                <key>spriteSourceSize</key>
                <string>{104,213}</string>
                <key>textureRect</key>
                <string>{{304,953},{104,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceShopBoy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,205}</string>
                <key>spriteSourceSize</key>
                <string>{96,205}</string>
                <key>textureRect</key>
                <string>{{490,1139},{96,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceShopGirl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,202}</string>
                <key>spriteSourceSize</key>
                <string>{78,202}</string>
                <key>textureRect</key>
                <string>{{588,1139},{78,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceShopGirl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,191}</string>
                <key>spriteSourceSize</key>
                <string>{68,191}</string>
                <key>textureRect</key>
                <string>{{668,1148},{68,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceShopGirl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,183}</string>
                <key>spriteSourceSize</key>
                <string>{62,183}</string>
                <key>textureRect</key>
                <string>{{624,953},{62,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PizzaBoy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,280}</string>
                <key>spriteSourceSize</key>
                <string>{97,280}</string>
                <key>textureRect</key>
                <string>{{1,1060},{97,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PizzaBoy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,280}</string>
                <key>spriteSourceSize</key>
                <string>{113,280}</string>
                <key>textureRect</key>
                <string>{{711,127},{113,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PizzaBoy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,280}</string>
                <key>spriteSourceSize</key>
                <string>{124,280}</string>
                <key>textureRect</key>
                <string>{{711,1},{124,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PizzaGirl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,280}</string>
                <key>spriteSourceSize</key>
                <string>{105,280}</string>
                <key>textureRect</key>
                <string>{{708,357},{105,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PizzaGirl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,280}</string>
                <key>spriteSourceSize</key>
                <string>{95,280}</string>
                <key>textureRect</key>
                <string>{{100,1060},{95,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PizzaGirl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,280}</string>
                <key>spriteSourceSize</key>
                <string>{113,280}</string>
                <key>textureRect</key>
                <string>{{708,242},{113,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PeopleInScene.png</string>
            <key>size</key>
            <string>{992,1345}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b811d40dd40df9c4076c0a3fa03e2eb:f87d547f7f9346f3903727b0e5923d15:48f0857428ab8dda2f0db00075f7fc1c$</string>
            <key>textureFileName</key>
            <string>PeopleInScene.png</string>
        </dict>
    </dict>
</plist>
