<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boy1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,320}</string>
                <key>spriteSourceSize</key>
                <string>{189,320}</string>
                <key>textureRect</key>
                <string>{{723,1},{189,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boy2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,346}</string>
                <key>spriteSourceSize</key>
                <string>{249,346}</string>
                <key>textureRect</key>
                <string>{{161,360},{249,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boy3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,317}</string>
                <key>spriteSourceSize</key>
                <string>{188,317}</string>
                <key>textureRect</key>
                <string>{{769,654},{188,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FastBoy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,338}</string>
                <key>spriteSourceSize</key>
                <string>{144,338}</string>
                <key>textureRect</key>
                <string>{{412,345},{144,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FastBoy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,342}</string>
                <key>spriteSourceSize</key>
                <string>{173,342}</string>
                <key>textureRect</key>
                <string>{{370,1},{173,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FastBoy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,291}</string>
                <key>spriteSourceSize</key>
                <string>{265,291}</string>
                <key>textureRect</key>
                <string>{{1,711},{265,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FastGirl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,323}</string>
                <key>spriteSourceSize</key>
                <string>{201,323}</string>
                <key>textureRect</key>
                <string>{{566,656},{201,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FastGirl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,346}</string>
                <key>spriteSourceSize</key>
                <string>{205,346}</string>
                <key>textureRect</key>
                <string>{{163,1},{205,346}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FastGirl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,326}</string>
                <key>spriteSourceSize</key>
                <string>{176,326}</string>
                <key>textureRect</key>
                <string>{{545,1},{176,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,245}</string>
                <key>spriteSourceSize</key>
                <string>{102,245}</string>
                <key>textureRect</key>
                <string>{{959,841},{102,245}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Girl2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,301}</string>
                <key>spriteSourceSize</key>
                <string>{144,301}</string>
                <key>textureRect</key>
                <string>{{420,685},{144,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,300}</string>
                <key>spriteSourceSize</key>
                <string>{193,300}</string>
                <key>textureRect</key>
                <string>{{1027,338},{193,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBoy1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,349}</string>
                <key>spriteSourceSize</key>
                <string>{158,349}</string>
                <key>textureRect</key>
                <string>{{1,360},{158,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBoy2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,357}</string>
                <key>spriteSourceSize</key>
                <string>{160,357}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBoy3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,312}</string>
                <key>spriteSourceSize</key>
                <string>{142,312}</string>
                <key>textureRect</key>
                <string>{{787,338},{142,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceGirl1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,325}</string>
                <key>spriteSourceSize</key>
                <string>{116,325}</string>
                <key>textureRect</key>
                <string>{{558,329},{116,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceGirl2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,305}</string>
                <key>spriteSourceSize</key>
                <string>{94,305}</string>
                <key>textureRect</key>
                <string>{{931,338},{94,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceGirl3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,323}</string>
                <key>spriteSourceSize</key>
                <string>{109,323}</string>
                <key>textureRect</key>
                <string>{{676,329},{109,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PizzaBoy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,280}</string>
                <key>spriteSourceSize</key>
                <string>{97,280}</string>
                <key>textureRect</key>
                <string>{{959,645},{97,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PizzaBoy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,280}</string>
                <key>spriteSourceSize</key>
                <string>{113,280}</string>
                <key>textureRect</key>
                <string>{{959,1},{113,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PizzaBoy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,280}</string>
                <key>spriteSourceSize</key>
                <string>{124,280}</string>
                <key>textureRect</key>
                <string>{{294,708},{124,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PizzaGirl1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,280}</string>
                <key>spriteSourceSize</key>
                <string>{105,280}</string>
                <key>textureRect</key>
                <string>{{959,231},{105,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PizzaGirl2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,280}</string>
                <key>spriteSourceSize</key>
                <string>{95,280}</string>
                <key>textureRect</key>
                <string>{{959,744},{95,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PizzaGirl3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,280}</string>
                <key>spriteSourceSize</key>
                <string>{113,280}</string>
                <key>textureRect</key>
                <string>{{959,116},{113,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PeopleInScene.png</string>
            <key>size</key>
            <string>{1240,989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2ff02ae89976ab5bce85d5f36642054:73cd59ff07bf95cddc5d0099ecada5d6:48f0857428ab8dda2f0db00075f7fc1c$</string>
            <key>textureFileName</key>
            <string>PeopleInScene.png</string>
        </dict>
    </dict>
</plist>
