<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{1103,1815},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{479,1815},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{521,1815},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{563,1815},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueCar_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{866,1815},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{945,1815},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Car_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,37}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{605,1815},{85,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GreenCar_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,37}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{692,1815},{85,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hotel_View.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,905}</string>
                <key>spriteSourceSize</key>
                <string>{1300,905}</string>
                <key>textureRect</key>
                <string>{{1,908},{1300,905}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMap_Small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{205,1815},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMap_Small_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{241,1815},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MapMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{1,1815},{100,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MapMain_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{103,1815},{100,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Playground_View1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1301,905}</string>
                <key>spriteSourceSize</key>
                <string>{1301,905}</string>
                <key>textureRect</key>
                <string>{{1,1},{1301,905}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PurpleCar_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,37}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{779,1815},{85,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedCar_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{1024,1815},{77,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WhiteCar_Backward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{40,66}</string>
                <key>textureRect</key>
                <string>{{277,1815},{40,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WhiteCar_Forward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{345,1815},{40,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowCar_Forward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{412,1815},{40,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scenes.png</string>
            <key>size</key>
            <string>{1303,1869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:051474ed3367baf39c0d63648a3ab715:9c6bdce316f3af2143175ff0fd0a27e0:6c6a83ad1561a22577d4a9d0ffa7b4ac$</string>
            <key>textureFileName</key>
            <string>Scenes.png</string>
        </dict>
    </dict>
</plist>
