<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{1803,1340},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1801,1953},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1803,1256},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1803,1298},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boy1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,320}</string>
                <key>spriteSourceSize</key>
                <string>{189,320}</string>
                <key>textureRect</key>
                <string>{{1658,566},{189,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boy2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,346}</string>
                <key>spriteSourceSize</key>
                <string>{249,346}</string>
                <key>textureRect</key>
                <string>{{1304,868},{249,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Boy3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,317}</string>
                <key>spriteSourceSize</key>
                <string>{188,317}</string>
                <key>textureRect</key>
                <string>{{1,1815},{188,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Car_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{1803,1177},{77,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Car_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,37}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{1803,1090},{85,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fastfood_Restaurant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{563,539}</string>
                <key>spriteSourceSize</key>
                <string>{563,547}</string>
                <key>textureRect</key>
                <string>{{1304,1},{563,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fastfood_Restaurant_Small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{200,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,194}</string>
                <key>textureRect</key>
                <string>{{1652,888},{200,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Girl1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,245}</string>
                <key>spriteSourceSize</key>
                <string>{102,245}</string>
                <key>textureRect</key>
                <string>{{1333,1718},{102,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl1_Shadow_Far.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,321}</string>
                <key>spriteSourceSize</key>
                <string>{236,321}</string>
                <key>textureRect</key>
                <string>{{1303,1119},{236,321}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Girl2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,301}</string>
                <key>spriteSourceSize</key>
                <string>{144,301}</string>
                <key>textureRect</key>
                <string>{{1030,1815},{144,301}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Girl3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,300}</string>
                <key>spriteSourceSize</key>
                <string>{193,300}</string>
                <key>textureRect</key>
                <string>{{1570,1433},{193,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hotdog_Stand_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,105}</string>
                <key>textureRect</key>
                <string>{{1744,1846},{100,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hotdog_Stand_300_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,352}</string>
                <key>spriteSourceSize</key>
                <string>{300,352}</string>
                <key>textureRect</key>
                <string>{{1304,566},{300,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hotel_View.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,905}</string>
                <key>spriteSourceSize</key>
                <string>{1300,905}</string>
                <key>textureRect</key>
                <string>{{1,908},{1300,905}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceBoy1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,349}</string>
                <key>spriteSourceSize</key>
                <string>{158,349}</string>
                <key>textureRect</key>
                <string>{{679,1815},{158,349}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceBoy2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,357}</string>
                <key>spriteSourceSize</key>
                <string>{160,357}</string>
                <key>textureRect</key>
                <string>{{320,1815},{160,357}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceBoy3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,312}</string>
                <key>spriteSourceSize</key>
                <string>{142,312}</string>
                <key>textureRect</key>
                <string>{{1541,1119},{142,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceCream_Stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,265}</string>
                <key>spriteSourceSize</key>
                <string>{274,265}</string>
                <key>textureRect</key>
                <string>{{1303,1442},{274,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceGirl1_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,325}</string>
                <key>spriteSourceSize</key>
                <string>{116,325}</string>
                <key>textureRect</key>
                <string>{{1685,1090},{116,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceGirl2_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,305}</string>
                <key>spriteSourceSize</key>
                <string>{94,305}</string>
                <key>textureRect</key>
                <string>{{1437,1846},{94,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceGirl3_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,323}</string>
                <key>spriteSourceSize</key>
                <string>{109,323}</string>
                <key>textureRect</key>
                <string>{{1437,1735},{109,323}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IconMap_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1693,1942},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMap_Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-218.5,218.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{440,440}</string>
                <key>textureRect</key>
                <string>{{1541,1433},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMap_Small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1729,1953},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMap_Small_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1765,1953},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMap_Test.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1641,1942},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MapMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{1437,1942},{100,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MapMain_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{1539,1942},{100,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Playground_View1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1301,905}</string>
                <key>spriteSourceSize</key>
                <string>{1301,905}</string>
                <key>textureRect</key>
                <string>{{1,1},{1301,905}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scenes.png</string>
            <key>size</key>
            <string>{1848,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7bf4392ac535068075cc1caa7305653:f6c9589c71f673447a7acb85f2850a65:6c6a83ad1561a22577d4a9d0ffa7b4ac$</string>
            <key>textureFileName</key>
            <string>Scenes.png</string>
        </dict>
    </dict>
</plist>
