<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,31}</string>
                <key>spriteSourceSize</key>
                <string>{30,31}</string>
                <key>textureRect</key>
                <string>{{1572,1546},{30,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1572,1504},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1541,1732},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BackButton_Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1614,1504},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BlueCar_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{1504,1661},{77,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Car_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{1538,1504},{77,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Car_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,37}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{1460,1504},{85,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>GreenCar_Backward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,60}</string>
                <key>spriteSourceSize</key>
                <string>{40,60}</string>
                <key>textureRect</key>
                <string>{{1507,1591},{40,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GreenCar_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,37}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{1499,1504},{85,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hotel_View.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1300,905}</string>
                <key>spriteSourceSize</key>
                <string>{1300,905}</string>
                <key>textureRect</key>
                <string>{{1,908},{1300,905}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMap_Small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1505,1740},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconMap_Small_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1549,1583},{34,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MapMain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{1405,1504},{100,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MapMain_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,53}</string>
                <key>spriteSourceSize</key>
                <string>{100,53}</string>
                <key>textureRect</key>
                <string>{{1405,1606},{100,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Playground_View1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1301,905}</string>
                <key>spriteSourceSize</key>
                <string>{1301,905}</string>
                <key>textureRect</key>
                <string>{{1,1},{1301,905}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PurpleCar_Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,37}</string>
                <key>spriteSourceSize</key>
                <string>{85,37}</string>
                <key>textureRect</key>
                <string>{{1465,1661},{85,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RedCar_Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,32}</string>
                <key>spriteSourceSize</key>
                <string>{77,32}</string>
                <key>textureRect</key>
                <string>{{1538,1653},{77,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WhiteCar_Backward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,66}</string>
                <key>spriteSourceSize</key>
                <string>{40,66}</string>
                <key>textureRect</key>
                <string>{{1303,1768},{40,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WhiteCar_Forward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{1371,1768},{40,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowCar_Forward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,65}</string>
                <key>spriteSourceSize</key>
                <string>{40,65}</string>
                <key>textureRect</key>
                <string>{{1438,1768},{40,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>YellowPanel80.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{594,392}</string>
                <key>spriteSourceSize</key>
                <string>{600,400}</string>
                <key>textureRect</key>
                <string>{{1303,908},{594,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>question100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{1303,1504},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>question100_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{1303,1666},{100,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Scenes.png</string>
            <key>size</key>
            <string>{1696,1814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2656d2a151ca138fa782580a4dca02a7:0974af3a8c021d8fa0979a794cae9399:6c6a83ad1561a22577d4a9d0ffa7b4ac$</string>
            <key>textureFileName</key>
            <string>Scenes.png</string>
        </dict>
    </dict>
</plist>
