<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Apple_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,71}</string>
                <key>textureRect</key>
                <string>{{283,1477},{98,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BaconBurger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{89,1639},{98,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Banana_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{363,1714},{88,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BiffBurger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{201,1821},{94,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Bolognese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1859},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carbonara.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{177,1623},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChickenBurger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{193,1723},{96,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chocolate_IceCream_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{201,1917},{68,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoffeeShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,188}</string>
                <key>spriteSourceSize</key>
                <string>{280,188}</string>
                <key>textureRect</key>
                <string>{{1,951},{280,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoffeeShop_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,188}</string>
                <key>spriteSourceSize</key>
                <string>{280,188}</string>
                <key>textureRect</key>
                <string>{{1,1141},{280,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoffeeShop_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,188}</string>
                <key>spriteSourceSize</key>
                <string>{280,188}</string>
                <key>textureRect</key>
                <string>{{1,1331},{280,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Coke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{289,1714},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fastfood2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fastfood2_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{295,1},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fastfood2_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,191},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>FrenchHotDog_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{383,1240},{100,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fries.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{177,1521},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrillHotDog_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{383,1498},{98,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hawaiian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{283,1177},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IcecreamShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{295,295},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IcecreamShop_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,381},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IcecreamShop_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,571},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lock_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,1521},{86,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lock_100_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{1,1639},{86,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Lock_100_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{89,1521},{86,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Magerita.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{283,1277},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mango_IceCream_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{373,1558},{92,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MeatFeast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{283,1377},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mug_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{373,1804},{86,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Mushroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{383,1298},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Orange_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{295,1814},{94,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pear_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{277,1544},{94,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pepperoni.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{383,1398},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PictureFrame_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{277,1628},{92,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pizzeria.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{295,589},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pizzeria_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,761},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pizzeria_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{295,883},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Postcard_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,61}</string>
                <key>spriteSourceSize</key>
                <string>{100,61}</string>
                <key>textureRect</key>
                <string>{{383,1177},{100,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SalamiBurger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,1757},{100,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Scarf_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{100,79}</string>
                <key>textureRect</key>
                <string>{{373,1892},{76,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Seafood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{93,1739},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Strawberry_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{371,1632},{76,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Strawberry_IceCream_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{295,1910},{66,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vanilla_IceCream_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{101,1939},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vegetarian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{101,1839},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShopProducts.png</string>
            <key>size</key>
            <string>{484,1993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fbd50943f3f09a0347c2e660a2add3d:6168de761a56696d6da02e342b16a9ac:2fde71490b3d96b06bc89c6d821b06bf$</string>
            <key>textureFileName</key>
            <string>ShopProducts.png</string>
        </dict>
    </dict>
</plist>
