<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Apple_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,65}</string>
                <key>spriteSourceSize</key>
                <string>{100,71}</string>
                <key>textureRect</key>
                <string>{{381,401},{98,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BaconBurger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{309,1623},{98,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Banana_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,1265},{88,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BiffBurger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{94,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,699},{94,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Blueberry_Cherry.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{56,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{455,1081},{56,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Bolognese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{309,1523},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Carbonara.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{306,1815},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ChickenBurger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,601},{96,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Chocolate_IceCream_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{68,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{441,501},{68,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Chocolate_Mint.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{56,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,1517},{56,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CoffeeShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,188}</string>
                <key>spriteSourceSize</key>
                <string>{280,188}</string>
                <key>textureRect</key>
                <string>{{191,589},{280,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoffeeShop_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,188}</string>
                <key>spriteSourceSize</key>
                <string>{280,188}</string>
                <key>textureRect</key>
                <string>{{191,871},{280,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>CoffeeShop_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,188}</string>
                <key>spriteSourceSize</key>
                <string>{280,188}</string>
                <key>textureRect</key>
                <string>{{191,1153},{280,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,0}</string>
                <key>spriteSize</key>
                <string>{72,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,301},{72,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fastfood2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fastfood2_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,295},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fastfood2_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,589},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>FrenchHotDog_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,56}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{103,1955},{100,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fries.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{191,1435},{98,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GrillHotDog_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,58}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,501},{98,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hawaiian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{387,1711},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hazelnut_Chocolate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{56,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{453,1265},{56,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IcecreamShop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,883},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IcecreamShop_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,1177},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IcecreamShop_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,1471},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lock_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{191,1537},{86,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lock_100_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{291,1435},{86,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Lock_100_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,116}</string>
                <key>spriteSourceSize</key>
                <string>{90,120}</string>
                <key>textureRect</key>
                <string>{{191,1625},{86,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Magerita.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{306,1915},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mango_IceCream_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,72}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,1081},{92,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MeatFeast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{406,1811},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Moca.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{54,94}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{455,301},{54,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mug_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,1355},{86,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Mushroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{406,1911},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Orange_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{94,76}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,891},{94,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Orange_Mango.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{52,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{459,891},{52,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pear_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,795},{94,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pepperoni.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,1},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PictureFrame_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{92,84}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,987},{92,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pizzeria.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{1,1765},{292,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pizzeria_Disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{191,1},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pizzeria_Lit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,188}</string>
                <key>spriteSourceSize</key>
                <string>{292,188}</string>
                <key>textureRect</key>
                <string>{{191,295},{292,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Postcard_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,61}</string>
                <key>spriteSourceSize</key>
                <string>{100,61}</string>
                <key>textureRect</key>
                <string>{{1,1955},{100,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rainbow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{56,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{448,401},{56,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SalamiBurger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{295,1713},{100,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Scarf_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{76,61}</string>
                <key>spriteSourceSize</key>
                <string>{100,79}</string>
                <key>textureRect</key>
                <string>{{409,1599},{76,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Seafood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,101},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Soda_Candy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{52,99}</string>
                <key>spriteSourceSize</key>
                <string>{100,103}</string>
                <key>textureRect</key>
                <string>{{205,1955},{52,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Strawberry_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,88}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,1175},{76,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Strawberry_IceCream_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{409,1433},{66,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Vanilla_IceCream_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{50,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{191,1713},{50,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Vegetarian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,98}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{381,201},{98,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShopProducts.png</string>
            <key>size</key>
            <string>{512,2017}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d0cdd5168880a9734eb567a2e7fe157:d782d6d28fb655a7511886a574d8914f:2fde71490b3d96b06bc89c6d821b06bf$</string>
            <key>textureFileName</key>
            <string>ShopProducts.png</string>
        </dict>
    </dict>
</plist>
