<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fastfood_Restaurant.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{563,539}</string>
                <key>spriteSourceSize</key>
                <string>{563,547}</string>
                <key>textureRect</key>
                <string>{{467,1},{563,539}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Fastfood_Restaurant_Small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{200,192}</string>
                <key>spriteSourceSize</key>
                <string>{200,194}</string>
                <key>textureRect</key>
                <string>{{303,803},{200,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Hotdog_Stand_100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,105}</string>
                <key>spriteSourceSize</key>
                <string>{100,105}</string>
                <key>textureRect</key>
                <string>{{1110,355},{100,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Hotdog_Stand_300_Shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,352}</string>
                <key>spriteSourceSize</key>
                <string>{300,352}</string>
                <key>textureRect</key>
                <string>{{1008,1},{300,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceCreamShopMainScene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{100,106}</string>
                <key>textureRect</key>
                <string>{{1212,355},{98,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IceCream_Stand1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,265}</string>
                <key>spriteSourceSize</key>
                <string>{274,265}</string>
                <key>textureRect</key>
                <string>{{1049,471},{274,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IceCream_StandSmall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{100,114}</string>
                <key>spriteSourceSize</key>
                <string>{100,120}</string>
                <key>textureRect</key>
                <string>{{1008,355},{100,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IcecreamShop_Big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,419}</string>
                <key>spriteSourceSize</key>
                <string>{550,419}</string>
                <key>textureRect</key>
                <string>{{497,566},{550,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Pizzeria_Scene.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{800,464}</string>
                <key>spriteSourceSize</key>
                <string>{800,492}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Pizzeria_Scene_Small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,211}</string>
                <key>spriteSourceSize</key>
                <string>{300,211}</string>
                <key>textureRect</key>
                <string>{{1,803},{300,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ShopViews.png</string>
            <key>size</key>
            <string>{1315,1015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2c6fc5cb5fd60f5d1d503f88d937b8f:8f44adf4cbdcb08f012245e443a05591:569f0a56b58346b128ef47c85cc9f1c8$</string>
            <key>textureFileName</key>
            <string>ShopViews.png</string>
        </dict>
    </dict>
</plist>
